:host {
  display: flex;
  align-items: flex-end; /* set to the right side*/
  justify-content: flex-end; /* set to bottom */
  flex-grow: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
